.white {
    color: #fff;
    padding-right: 10px;
}

.blue {
    color: #56c8ea;
}

#div_img {
    margin: 50px 0px 50px 0px;
}

#img1 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 35px;
}

#div_about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

#div_header {
    display: flex;
    justify-content: flex-end;
    color: #fff;
    font-size: 17px;
}

a {
    text-decoration: inherit;
    padding-right: 10px;
}

.div_top_header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 642px) {
    #div_header {
        display: none;
    }
}
