.white {
    color: #fff;
    padding-right: 10px;
}

.blue {
    color: #56c8ea;
}

#div_img {
    height: 200px;
    width: 200px;
    padding-right: 65px;
    padding-top: 25px;

}

#img1 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

#div_container1 {
    display: flex;
    justify-content: space-between;
}

#div_about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

#div_header {
    display: flex;
    justify-content: flex-end;
    color: #fff;
    font-size: 17px;
}

a {
    text-decoration: inherit;
    padding-right: 10px;
}