.div_container_img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.div_project_img {
    background-color: #fff;
    margin-bottom: 30px;
}

a {
    padding-right: 0px;
}

.div_realisation {
    cursor: pointer;
    transition: transform 0.5s;
}

.div_realisation:hover {
    transform: scale(1.04);
}